<div>
    <h1>Calcular Distancia entre Puntos</h1>
    <form [formGroup]="formulario">
        <div class="mb-3">
            <label for="x1" class="form-label">Punto 1 - X</label>
            <input type="number" id="x1" class="form-control" formControlName="x1"/>

            <label for="y1" class="form-label">Punto 1 - Y</label>
            <input type="number" id="y1" class="form-control" formControlName="y1"/>

            <label for="x2" class="form-label">Punto 2 - X</label>
            <input type="number" id="x2" class="form-control" formControlName="x2"/>

            <label for="y2" class="form-label">Punto 2 - Y</label>
            <input type="number" id="y2" class="form-control" formControlName="y2"/>
            <br>
            <button class="btn btn-primary" (click)="calcularDistancia()">Calcular Distancia</button>

            <h2>Resultado: {{resultado}}</h2>
        </div>
    </form>
</div>