<div class="container">
    <div class="row">
        <h1>Datos personales</h1>
        <form [formGroup]="formulario" class="col-7">
            <div>
                Nombre <input type="text" id="nombre" class="form-control" formControlName="nombre"/>
                Apellido Paterno <input type="text" id="apellidoPaterno" class="form-control" formControlName="apellidoPaterno"/>
                Apellido Materno <input type="text" id="apellidoMaterno" class="form-control" formControlName="apellidoMaterno"/>

                <label class="form-label">Fecha de Nacimiento</label>
                <div class="row">
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Día" formControlName="dia"/>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Mes" formControlName="mes"/>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Año" formControlName="anio"/>
                    </div>
                </div>

                <label class="form-label">Sexo</label>
                <div>
                    <input type="radio" id="masculino" value="Masculino" formControlName="sexo"/>Masculino
                    <br>
                    <input type="radio" id="femenino" value="Femenino" formControlName="sexo"/>Femenino
                </div>
                
                <br>
                <button class="btn btn-primary" (click)="imprimirInformacion()">Imprimir</button>
            </div>
        </form>

        <div *ngIf="mostrarResultado" class="col-5 ">
            <h2>Hola {{calcular.nombre}} {{calcular.apellidoPaterno}} {{calcular.apellidoMaterno}}</h2>
            <p>Tienes <strong>{{resultadoEdad}} años</strong></p>
            <p>Tu sexo es: <strong>{{calcular.sexo}}</strong></p>
            <p>Tu signo zodiacal chino es: <strong>{{resultadoSigno}}</strong></p>
            <img [src]="imagenSigno" [alt]="resultadoSigno" width="200" height="200">
        </div>
    </div>
</div>